.swipeButtons{
    position: fixed;
    bottom : 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px  53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__replay{
    padding: 1vw !important;
    color: skyblue !important;
}
.swipeButtons__off{
    padding: 1vw !important;
    color: red !important;
}
.swipeButtons__star{
    padding: 1vw !important;
    color: goldenrod!important;
}
.swipeButtons__favorite{
    padding: 1vw !important;
    color: rgb(194, 85, 149) !important;
}
.swipeButtons__flash{
    padding: 1vw !important;
    color: purple!important;
}